<form [formGroup]="formGroup" (submit)="submited($event)">
  <div>
    <label for="id">ID</label>
    <input type="text" name="id" id="id" formControlName="id" readonly>
  </div>
  <div>
    <label for="nik">Nomor Induk Penduduk</label>
    <input type="text" name="nik" id="nik" formControlName="nik" readonly>
  </div>
  <div>
    <label for="namaLengkap">Nama Lengkap</label>
    <input type="text" name="namaLengkap" id="namaLengkap" formControlName="namaLengkap">
  </div>
  <div>
    <label for="jkL">
      <input type="radio" name="jenisKelamin" id="jkL" value="Laki-Laki" formControlName="jenisKelamin">
      Laki - Laki
    </label>
    <label for="jkP">
      <input type="radio" name="jenisKelamin" id="jkP" value="Perempuan" formControlName="jenisKelamin">
      Perempuan
    </label>
  </div>

  <div formArrayName="extended">
    <div *ngFor="let form of extendsForms.controls; let i=index">
      <div [formGroupName]="i">
        <div *ngIf="'STRING' == fields[i].dataType">
          <label [for]="fields[i].columnName">{{fields[i].labelName}}</label>
          <input type="text" formControlName="value">
        </div>
        <div *ngIf="'INT' == fields[i].dataType">
          <label [for]="fields[i].columnName">{{fields[i].labelName}}</label>
          <input type="number" formControlName="value">
        </div>
        <div *ngIf="'BOOLEAN' == fields[i].dataType">
          <label [for]="fields[i].columnName">{{fields[i].labelName}}</label>
          <input type="checkbox" formControlName="value">
        </div>
        <div *ngIf="'TEXT' == fields[i].dataType">
          <label [for]="fields[i].columnName">{{fields[i].labelName}}</label>
          <textarea formControlName="value"></textarea>
        </div>
        <div *ngIf="'DATE' == fields[i].dataType">
          <label [for]="fields[i].columnName">{{fields[i].labelName}}</label>
          <input type="text" formControlName="value">
        </div>
        <div *ngIf="'DATE_TIME' == fields[i].dataType">
          <label [for]="fields[i].columnName">{{fields[i].labelName}}</label>
          <input type="text" formControlName="value">
        </div>
      </div>
    </div>
  </div>

  <div>
    <button type="submit">Submit</button>
    <a href="#" routerLink="/">Kembali</a>
  </div>
</form>
